################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FormulaOneApp/.vs/FormulaOneApp
/FormulaOneApp/FormulaOneApp/obj
/FormulaOneApp/FormulaOneApp/bin/Debug/net6.0
/FormulaOneApp/.vs/ProjectEvaluation
*.db-shm
*.db-wal
