################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FormulaOneApp/.vs/FormulaOneApp
/FormulaOneApp/FormulaOneApp/obj
/FormulaOneApp/FormulaOneApp/bin/Debug/net6.0
/FormulaOneApp/.vs/ProjectEvaluation
*.db-shm
*.db-wal
/JWT-WEB-API-ANGULAR/JwtWebApiTutorial/.vs/JwtWebApiTutorial
/JWT-WEB-API-ANGULAR/JwtWebApiTutorial/JwtWebApiTutorial/bin/Debug/net6.0
/JWT-WEB-API-ANGULAR/JwtWebApiTutorial/JwtWebApiTutorial/obj
/JWT-WEB-API-ANGULAR/JwtWebApiTutorial/.vs/ProjectEvaluation
