################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FormulaOneApp/.vs/FormulaOneApp
/FormulaOneApp/FormulaOneApp/obj
